<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>352418709495-gij5k9mv0hin5hbtscckuj5ctskbq51p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.352418709495-gij5k9mv0hin5hbtscckuj5ctskbq51p</string>
	<key>API_KEY</key>
	<string>AIzaSyAqVdp6QVaLZOFre0-9BKM-3wPiMKjBazQ</string>
	<key>GCM_SENDER_ID</key>
	<string>352418709495</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.barolit.fixocargo</string>
	<key>PROJECT_ID</key>
	<string>icourier2023</string>
	<key>STORAGE_BUCKET</key>
	<string>icourier2023.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:352418709495:ios:f9b9ddb3ba0a7c5383b8f2</string>
</dict>
</plist>